progress==1.5
pandas==0.24.2
pydub==0.23.0
python_speech_features==0.6
webrtcvad==2.0.10
Keras==2.2.4
seaborn==0.9.0
numpy==1.14.5
matplotlib==3.1.0
tensorflow_gpu==1.10.0
scikit_learn==0.21.2
tensorflow==2.5.3
